.App {
  margin-top: 5em;
  text-align: center;
  color: teal;
}

h1, h2 {
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 700;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px;
}

.search-button {
  background-color: grey;
  border: none;
  padding: 12px 15px;
  color: white;
  margin-left: 5px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
