.profile {
    box-shadow: 0.5px 0.5px 20px -8px teal;
    padding: 2em 15em;
    margin: 2px;
    text-align: center;
    background-color: white;
    color:teal;
    border-radius: 10px;
}

.profile:hover {
    background-color: turquoise;
    color: whitesmoke;
    /* animation-name: background-color;
    animation-duration: 1;
    animation-timing-function: ease-in; */
    /* animation-iteration-count: infinite; */
}

@keyframes background-color {
    100% {
        background-color: turquoise;
        color: whitesmoke;
    }
}

/* .prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.prof h2, .prof p {
    display: flex;
    margin: 0;
  }

.prof button {
    background-color: whitesmoke;
    color: teal;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    margin-top: 5px;
}

.prof button:hover {
    color: gray;
}

h2 {
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 700;
    font-size: 28px;
}

p { 
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 500;
    font-size: 20px;
}